# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
hw2.iml
src/main/java/com.company/client/NonBlockingClient.java